.post {
    border: 1px solid rgba(255, 255, 255, 0.275);
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
}

.postWrap {
    word-wrap: break-word;

    & > h3 {        
        margin: 0;
        padding-bottom: 1rem;
    }

    & > p {
        margin: 0;
    }

    & a {
        color: unset;
    } 
}

.buttonsWrap {
    display: flex;
    column-gap: 0.5rem;
    justify-content: end;
    width: 100%;
    margin-top: 1rem;

    & button {
        background-color: purple;
        border: none;
        border-radius: 2px;
        color: white;
        cursor: pointer;
        padding: 0.2rem 0.5rem;
        
        &:hover {
            background-color: rgb(171, 4, 171);
        }
        &:active {
            background-color: rgb(96, 1, 96);
        }
    }
}

.removePostBtn {
    background-color: rgb(220, 19, 19) !important;
    color: white;

    &:hover {
        background-color: rgb(255, 60, 60) !important;
    }
    &:active {
        background-color: rgb(107, 1, 1) !important;
    }
}

.page {
    border: none;

}

.page > .postWrap {
    & h3 {
        font-size: 2rem;

        & a {
            text-decoration: unset;
        }
    }

    & p {
        font-size: 1.5rem;
    }
}

.editPostForm {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    max-width: 30rem;

    & input, & textarea {
        display: block;
        
        background-color: #404040;
        border: none;
        border-radius: 3px;
        color: #efefef;

        font-size: 1rem;        
        height: 2.5rem;

        margin: 0;
        padding: 0.5rem;

        resize: none;

        &:focus {
            outline: 2px solid purple;
        }
    }

    & textarea {
        height: max-content;
        height: 5rem;
    }

    & .buttonsWrap {
        justify-content: start;
        margin: 0;
    }
}
